// tslint:disable:ordered-imports
// tslint:disable:no-consecutive-blank-lines
// tslint:disable:no-trailing-whitespace
// tslint:disable:max-line-length
// tslint:disable:jsdoc-format
// tslint:disable:interface-name
// tslint:disable:no-any

{% for propName, prop in definition.properties %}{% if prop.$ref -%}
{%- set realPropName = prop.$ref | replace("#/definitions/", "") -%}
import { is{{ realPropName }}, {{ realPropName }} } from "./{{ realPropName }}";
{% endif %}{% endfor %}

/**
 * {{ definition.description | safe }}
 */
{% if definition.type == "object" %}
import { option, Option } from "ts-option";

export interface {{ definitionName }} {
{% for propName, prop in definition.properties %}
  {%- if prop.$ref %}{% set realPropType = prop.$ref | replace("#/definitions/", "") %}{% else %}{% set realPropType = prop.type | replace("integer", "number") %}{% endif %}
  readonly {{ propName }}{% if definition.required and (definition.required | contains(propName)) %}{% else %}?{% endif %}: {{ realPropType }};
{% endfor %}
}

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return arg &&
{% for propName, prop in definition.properties -%}
  {% if prop.$ref %}
    is{{ prop.$ref | replace("#/definitions/", "") }}(arg.{{propName}}) &&
  {% else %}
    typeof arg.{{propName}} === "{{ prop.type | replace("integer", "number") }}" &&
  {% endif %}
{% endfor %}
    true;
}

export function to{{ definitionName }}(arg: any): Option<{{ definitionName }}> {
  return option(arg).filter(is{{ definitionName }});
}

{% elif definition.type == "integer" %}
import { Option } from "ts-option";

import { isWithinRangeNumber, toWithinRangeNumber, WithinRangeNumber } from "../../utils/numbers";

  {% if definition.minimum and definition.maximum %}
export type {{ definitionName }} = WithinRangeNumber<{{ definition.minimum }}, {{ definition.maximum }}>;

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return isWithinRangeNumber(arg, {{ definition.minimum }}, {{ definition.maximum }});
}

export function to{{ definitionName }}(arg: any): Option<{{ definitionName }}> {
  return toWithinRangeNumber(arg, {{ definition.minimum }}, {{ definition.maximum }});
}
  {% else %}
export type {{ definitionName }} = number;
  {% endif %}
{% elif definition.type == "string" %}
  {% if definition.pattern %}
import { Option } from "ts-option";

import { isPatternString, toPatternString, PatternString } from "../../utils/strings";

export type {{ definitionName }} = PatternString<"{{ definition.pattern }}">;

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return isPatternString(arg, "{{ definition.pattern }}");
}

export function to{{ definitionName }}(arg: any): Option<{{ definitionName }}> {
  return toPatternString(arg, "{{ definition.pattern }}");
}
  {% elif definition.minLength and definition.maxLength %}
import { Option } from "ts-option";

import { isWithinRangeString, toWithinRangeString, WithinRangeString } from "../../utils/strings";

export type {{ definitionName }} = WithinRangeString<{{ definition.minLength }}, {{ definition.maxLength }}>;

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return isWithinRangeString(arg, {{ definition.minLength }}, {{ definition.maxLength }});
}

export function to{{ definitionName }}(arg: any): Option<{{ definitionName }}> {
  return toWithinRangeString(arg, {{ definition.minLength }}, {{ definition.maxLength }});
}
  {% elif definition.format == "email" %}
import { isEmailString, toEmailString, EmailString } from "../../utils/strings";

export type {{ definitionName }} = EmailString;

export const is{{ definitionName }} = isEmailString;

export const to{{ definitionName }} = toEmailString;
  {% else %}
export type {{ definitionName }} = string;
  {% endif %}
{% elif definition.type == "array" %}
import { option, Option } from "ts-option";

  {% if definition["x-extensible-enum"] %}

export enum {{ definitionName }}Enum {
    {% for enum in definition["x-extensible-enum"] %}
      "{{ enum }}" = "{{ enum }}",
    {% endfor %}
}

export type {{ definitionName }} = ReadonlyArray<{{ definitionName }}Enum>;

export function is{{ definitionName }}Enum(arg: any): arg is {{ definitionName }}Enum {
  return {{ definitionName }}Enum[arg] !== undefined;
}

export function to{{ definitionName }}Enum(arg: any): Option<{{ definitionName }}Enum> {
  return option(arg).filter(is{{ definitionName }}Enum);
}

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return Array.isArray(arg) && arg.every((e) => is{{ definitionName }}Enum(e));
}

  {% else %}

export type {{ definitionName }} = ReadonlyArray<{{ definition.items.type | replace("integer", "number") }}>;

export function is{{ definitionName }}(arg: any): arg is {{ definitionName }} {
  return Array.isArray(arg) && arg.every((e) => typeof e === "{{ definition.items.type | replace("integer", "number") }}");
}

  {% endif %}


export function to{{ definitionName }}(arg: any): Option<{{ definitionName }}> {
  return option(arg).filter(is{{ definitionName }});
}

{% else %}

// TODO: generate model for definition "{{ definitionName }}"

{% endif %}
